.container {
    padding: 20px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .error {
    color: red;
    text-align: center;
    margin: 20px 0;
  }
  